include base.jade
#terra-mystica(data-game-id=game.id, data-player-id=player.id)

#player-area()
    h3= player.id

    button#dig Terraform
    button#build Build


script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.3.0/phaser.min.js")
script(type="text/javascript")
    include js/hex.js
script(type="text/javascript")
    include js/terra-mystica.js

