include ./base.jade
div#terra-mystica
    script(type="text/javascript")
        include js/games.js
    button#create(type="submit") Create

    ul.players
        each game in games
            li
                a(href="/game/"+game.id)= game.id

script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.3.0/phaser.min.js")
script(type="text/javascript", src="/js/hex.js")
script(type="text/javascript", src="/js/terra-mystica.js")