include base.jade
#terra-mystica

script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.3.0/phaser.min.js")
script(type="text/javascript")
    include js/hex.js
script(type="text/javascript")
    include js/GameState.js
script(type="text/javascript")
    include js/terra-mystica.js
