doctype html
html
    head
        title Terra Mystica
    body
        h1 TM bitches
        div#terra-mystica

script(type="text/javascript", src="/jquery/dist/jquery.js")
script(type="text/javascript", src="/phaser/build/phaser.js")
script(type="text/javascript", src="/js/hex.js")
script(type="text/javascript", src="/js/terra-mystica.js")